body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
}

table {
    margin-top: 20px;
}

.table thead {
    background-color: #343a40;
    color: #ffffff;
}

.btn {
    margin-top: 10px;
}

textarea, input[type="file"] {
    margin-bottom: 10px;
}
